### Exam 3

The downloadable course materials contain a folder named `Exam Materials` which contains the following file:

```
widget_sales.csv
```

This CSV file contains sales data for some widgets, and contains the following columns:
- `widget`: the name of the widget (string)
- `date_sold`: an epoch indicating date and time sale occurred (integer)
- `quantity_sold`: the number of widgets sold (integer)
- `unit_price`: the unit price widget was sold for (float)
- `tax`: the tax that was added to the sale price (float)
- `discount`: the discount that was subtracted from the sale price (float)

All the questions on this exam relate to the data contained in this file.

#### Q1

First thing is to load the data into a Pandas dataframe.

We do this by running the following code:

In [1]:
import pandas as pd
df = pd.read_csv('widget_sales.csv')

In [2]:
df

     widget   date_sold  quantity_sold  unit_price     tax  discount
0       DDD  1579626005            2.0        9.99    0.26      0.51
1       NaN  1579134185           16.0        9.99    2.86      7.13
2       BBB  1579978810            NaN       15.00    1.06      2.83
3       EEE  1578912699           18.0      199.99  176.89    145.83
4       BBB  1579162853            4.0       15.00    2.19      2.70
...     ...         ...            ...         ...     ...       ...
9995    DDD  1580265826            3.0        9.99    0.52      0.68
9996    DDD  1579719495            2.0        9.99    0.19      0.51
9997    BBB  1579872262           11.0       15.00    6.96      2.57
9998    EEE  1578057662           16.0      199.99   42.43     14.63
9999    FFF  1579287420            3.0      250.00   28.65     26.53

[10000 rows x 6 columns]

The expected data type for the `quantity_sold` column is an integer, what are the expected and actual Numpy data types for that column in the loaded dataframe?

- a. expected = `int64`, actual = `int64`
- b. expected = `int64`, actual = `float64`
- c. expected = `float64`, actual = `object`
- d. expected = `float64`, actual = `float64`

Answer is `b`

Why? Because while the data values in the `quantity_sold` column are integers there are some missing values `NaN`. When the missing values are added to the column it turns the column data type to a `float64` instead of `int64`.

#### Q2

Why is the expected and actual data type for `quantity_sold` not the same?

- a. The csv data contains some float values for that column, not just integers
- b. There's a bug in Pandas
- c. That column has some missing values
- d. The expected and actual data types are the same - nothing to see here, move along!

Answer is `c`

#### Q3

Inspect the data frame to determine which columns have missing (null) values.

- a. `widget`, `quantity_sold` only
- b. `date_sold`, `quantity_sold` only
- c. `quantity_sold` only
- d. there are no missing values anywhere

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   widget         9999 non-null   object
 1   date_sold      10000 non-null  int64
 2   quantity_sold  9999 non-null   float64
 3   unit_price     10000 non-null  float64
 4   tax            10000 non-null  float64
 5   discount       10000 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 468.9+ KB

Answer is `a`

#### Q4

We want to create a new dataframe (named `df_not_null`) that does not have any missing values.
We want to do this by removing all **rows** that contain null values.

Which of the following expressions will achieve this?

I.
```
df_temp = df[pd.notnull(df['widget'])]
df_not_null = df_temp[pd.notnull(df_temp['quantity_sold'])]
```

II.
```
df_not_null = df.dropna(axis=0)
```

III.
```
df_not_null = df.dropna()
```

- a. I only
- b. II and III only
- c. none of them
- d. all of them

Answer is `d`

#### Q5

Assume that `df_not_null` is the result of correctly removing any rows in the original data frame that contained any null values.

Inspect this new data frame - what is the data type of `quantity_sold`?

- a. `object`
- b. `int64`
- c. `float64`
- d. `uint64`

In [6]:
df_not_null = df.dropna()
df_not_null.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9998 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   widget         9998 non-null   object
 1   date_sold      9998 non-null   int64
 2   quantity_sold  9998 non-null   float64
 3   unit_price     9998 non-null   float64
 4   tax            9998 non-null   float64
 5   discount       9998 non-null   float64
dtypes: float64(4), int64(1), object(1)
memory usage: 546.8+ KB

Answer is `c`

#### Q6
The data type for `quantity_sold` can be changed to be an integer since we expect all non-null values to be positive integers.

Assuming `df_not_null` is a dataframe that contains no null values (derived from our original dataframe `df`), which of the following code results in `data` being a dataframe that contains the `quantity_sold` column as an `int64` data type?

I.
```
quantity_sold = df_not_null['quantity_sold'].astype(int)
data = pd.concat(
    [
        df_not_null[['widget', 'date_sold', 'unit_price', 'tax', 'discount']], 
        quantity_sold
    ],
    axis=1
)
```

II.
```
quantity_sold = df_not_null['quantity_sold'].astype(int)
data = df_not_null.drop('quantity_sold', axis=1)
data = pd.concat([data, quantity_sold], axis=1, join='inner')
```

III.
```
quantity_sold = df['quantity_sold'].dropna().astype(int)
data = df.drop('quantity_sold', axis=1)
data = pd.concat([data, quantity_sold], axis=1, join='inner')
```

- a. I only
- b. II only
- c. III only
- d. I and II only

This is an interesting one but: Answer should be `d`

#### Q7

The net sale for each row is given by:

```quantity_sold * unit_price + tax - discount```

Calculate the total net sales of the data contained in the dataframe that has all rows with null values removed, rounded to 2 decimal points.

The answer is:
- a. `8383874.86`
- b. `7963979.82`
- c. `8380560.82`
- d. `99355.0`

In [14]:
import numpy as np

In [21]:
df_net_sale = (df_not_null.quantity_sold * df_not_null.unit_price) + (df_not_null.tax - df_not_null.discount)
np.around(df_net_sale.sum(), 2)

np.float64(8383874.86)

Answer is `a`

#### Q8

Identify the date on which the **second** highest net sale for widget `AAA` occurred.

Just as before, the net sale formula is given by:
```quantity_sold * unit_price + tax - discount```

This sale happened on this date:
s
- a. 2020-01-21T16:22:07
- b. 2020-01-21T21:39:52
- c. 2020-01-26T00:30:51
- d. 2020-01-23T21:31:26

In [25]:
from datetime import datetime

In [48]:
df_AAA = df_not_null[df_not_null['widget'] == 'AAA']
df_AAA_net_sales = (df_AAA.quantity_sold * df_AAA.unit_price) + (df_AAA.tax - df_AAA.discount)
df_AAA_net_sales.name = 'net_sales'
df_AAA = pd.concat([df_AAA, df_AAA_net_sales], axis=1)
epochtime_AAA = df_AAA.sort_values('net_sales').iloc[-2]['date_sold']
datetime.strftime(datetime.fromtimestamp(epochtime_AAA), "%Y-%m-%dT%H:%M:%S")

'2020-01-26T08:30:51'

Based on my results, the date shold be `c` though there seems to be some time diff

#### Q9

Calculate the number of rows (sales) that each widget has generated (limit your dataframe to rows that contain no null values).

Represented as a dictionary, the result is:

a. 
```
{'AAA': 1646, 'BBB': 1705, 'CCC': 1653, 'DDD': 1666, 'EEE': 1668, 'FFF': 1661}
```

b.
```
{'AAA': 1647, 'BBB': 1704, 'CCC': 1652, 'DDD': 1667, 'EEE': 1667, 'FFF': 1661}
```

c.
```
{'AAA': 1666, 'BBB': 1666, 'CCC': 1666, 'DDD': 1666, 'EEE': 1666, 'FFF': 1670}
```

d.
```
{'AAA': 1647, 'BBB': 1705, 'CCC': 1652, 'DDD': 1667, 'EEE': 1667, 'FFF': 1661, NAN: 1}
```

In [54]:
np.sort(df_not_null.widget.unique())

array(['AAA', 'BBB', 'CCC', 'DDD', 'EEE', 'FFF'], dtype=object)

In [57]:
num_of_sales = {i: len(df_not_null[df_not_null['widget'] == i])
    for i in np.sort(df_not_null.widget.unique())
}
num_of_sales

{'AAA': 1647, 'BBB': 1704, 'CCC': 1652, 'DDD': 1667, 'EEE': 1667, 'FFF': 1661}

Answer is `b`

#### Q10

Limiting your dataframe to rows with non-null values only, calculate the average percentage discount (rounded to 2 digits after the decimal point) of each widget.

(The percentage discount for a specific row in the dataframe is given by:
```
discount / (quantity_sold * unit_price) * 100
```
)

Represented as a dictionary, the result is:

a. 
```
{'AAA': 2.44, 'BBB': 2.5, 'CCC': 2.49, 'DDD': 2.45, 'EEE': 2.48, 'FFF': 2.46}
```

b.
```
{'AAA': 2.35, 'BBB': 2.49, 'CCC': 2.42, 'DDD': 2.39, 'EEE': 2.44, 'FFF': 2.47}
```

c.
```
{'AAA': 2.14, 'BBB': 2.23, 'CCC': 2.2, 'DDD': 2.14, 'EEE': 2.24, 'FFF': 2.2}
```

d.
```
{'AAA': 2.65, 'BBB': 2.76, 'CCC': 2.71, 'DDD': 2.63, 'EEE': 2.72, 'FFF': 2.7}
```

In [61]:
avg_perc_discount = {}
for i in np.sort(df_not_null.widget.unique()):
    df_i = df_not_null[df_not_null.widget == i]
    df_perc_discount = df_i.discount / (df_i.quantity_sold * df_i.unit_price) * 100
    avg_perc_discount[i] = float(np.around(df_perc_discount.mean(), 2))
avg_perc_discount

{'AAA': 2.44, 'BBB': 2.5, 'CCC': 2.49, 'DDD': 2.45, 'EEE': 2.48, 'FFF': 2.46}

Answer is `a`